<h1><%= @trip.location_name %></h1>

<h3>Mailed Cards</h3>
<% if @mailing_recipients.length == 0 %>
  You haven't mailed any cards yet!
<% else %>
  <ul>
    <% @mailing_recipients.each do |m| %>
      <li><%= m.name %></li>
    <% end %>
  </ul>
<% end %>

<h3>Send a card!</h3>
<ul>
  <% @contacts.each do |c| %>
    <li>
      <%= c.name %> 
      <%= form_tag url_for(:controller => :trips, :action => :send_card, :trip_id => @trip._id, :contact_id => c._id) do %>
        <%= submit_tag "Send card" %>
      <% end %>
    </li>
  <% end %>
</ul>