<% if current_user %>
  <h1>
    <% if current_user.pic %><%= image_tag current_user.pic %><% end %>
    Hi, <%= current_user.name %>!
  </h1>
<% else %>
  <h1>Welcome to Postkart!</h1>
<% end %>

<%= link_to "Google auth!", google_auth_url %>

<% if current_user %>
  <%# display trips %>
  <h3>Trips</h3>

  <% current_user.trips.each do |trip| %>
    <%= link_to trip.location_name, url_for(:controller => :trips, :action => :view, :id => trip.id) %>
  <% end %>
  
  <% form_for Trip.new, :as => :trip, :url => url_for(:controller => :trips, :action => :create) do |f| %>
    <%= f.text_field :location_name %>
    <%= f.submit %>
  <% end %>
<% end %>